#card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(56, 55, 55);
}

img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.desc{
    padding: 0 2px 0 2px;
}

#card:hover{
    box-shadow: 3px 3px 15px rgb(36, 36, 36);
}